<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<h1>Users</h1>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getFirstName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td><a th:href="@{'/admin/users/edit/' + ${user.getId()}}" th:text="edit"/></td>
            <td><a th:href="@{'/admin/users/delete/' + ${user.getId()}}" th:text="delete"/></td>
        </tr>
    </table>
</div>
<div>
    <a th:href="@{'/admin/users/add'}">Add user</a>
</div>
<div>
    <li sec:authorize="isAuthenticated()">
        <a th:href="@{/logout}">Logout</a>
    </li>
</div>
</body>
</html>