<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<body>
<div>
    Username: <span th:text="${user.getUsername()}"></span>
</div>
<div>
    First Name: <span th:text="${user.getFirstName()}"></span>
</div>
<div>
    Last Name: <span th:text="${user.getLastName()}"></span>
</div>
<div>
    E-mail: <span th:text="${user.getEmail()}"></span>
</div>
<div>
    <li sec:authorize="isAuthenticated()">
        <a th:href="@{/logout}">Logout</a>
    </li>
</div>
</body>
</html>